<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knight.webtest.dao.mapper.TestMapper">

    <resultMap id="TestResultMap" type="com.knight.webcommon.model.entity.TestEntityDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="test_id" jdbcType="VARCHAR" property="testId"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
    </resultMap>

    <select id="getTestEntity" resultMap="TestResultMap">
        select *
        from test_entity
        where test_id = #{testId, jdbcType=VARCHAR}
    </select>

    <insert id="insertTestData" parameterType="com.knight.webcommon.model.entity.TestData">
        insert into test_entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testId != null">
                test_id,
            </if>
            <if test="message != null">
                message,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="testId != null">
                #{testId,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

</mapper>
