<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="web-single"/>
    <property name="INFO_NAME" value="./logs/${APP_NAME}/info.log"/>
    <property name="ERROR_NAME" value="./logs/${APP_NAME}/error.log"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger{35}：Logger名称，%msg：日志消息，%n是换行符-->
    <!-- MDC在日志中的输出格式：%X{url}等 -->
    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} %n URL:%X{url} %n PARAMS:%X{params} %n RESULT:%X{result} %n ELAPSED_TIME:%X{elapsedTime} %n SUCCESS:%X{success} %n SERVER_IP:%X{serverIp} %n CLIENT_IP:%X{clientIp} %n HTTP_METHOD:%X{httpMethod} %n CLASS_METHOD:%X{classMethod} %n- %msg%n"/>

    <!--  当application.yml指定环境为local时生效  -->
    <springProfile name="local">
        <property name="logstash_host" value="txcloud"/>
        <property name="logstash_port" value="5044"/>
    </springProfile>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${INFO_NAME}</file>
        <encoder>
            <pattern>${PATTERN}}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 过滤掉TRACE和DEBUG级别的日志 -->
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--设置日志命名模式-->
            <fileNamePattern>${INFO_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志最大保存15天-->
            <maxHistory>15</maxHistory>
            <!--日志最大的文件大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志最大保存10GB-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_NAME}</file>
        <encoder>
            <pattern>${PATTERN}}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--设置日志命名模式-->
            <fileNamePattern>${ERROR_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <!--logstash配置 TCP传输-->
    <appender name="LOG_STASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash_host}:${logstash_port}</destination>
        <!-- encoder必须配置,有多种可选 -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"HoP-log_notes"}</customFields>
        </encoder>
    </appender>

    <springProfile name="local">
        <!--  所有日志默认走这条路径，除非被logger筛选出去  -->
        <root>
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="INFO_LOG"/>-->
<!--            <appender-ref ref="ERROR_LOG"/>-->
        </root>
    </springProfile>

</configuration>